{{define "about"}}
    <section id="about">
        <h1>Küfa Karben</h1>
        <p>
            "Küche für Alle" ist genau das, wonach es klingt: Gutes Essen in netter Runde.
        </p>
        <br>
        <p>
            Im Vordergrund stehen für uns der Kontakt mit neuen, interessanten Personen, tolle Gespräche und gerne auch
            Generationen übergreifender Austausch. Natürlich spielt das Essen auch eine zentrale Rolle und da ist es uns
            vor allem wichtig, dass es frisch, qualitativ gut und natürlich selbstgemacht ist.
        </p>
        <br>
        <p>
            Die Menüs für unsere Veranstaltungen veröffentlichen wir zuvor auf Facebook und unserer Website. Um besser
            planen
            zu können freuen wir uns über jede Anmeldung zu den Veranstaltungen. Natürlich bekommt auch jeder
            unangemeldete
            Besucher Essen und Getränke. ;)
        </p>
        <br>
        <p>
            Für alle Veranstaltungen gelten die Getränkekarten und -preise des Jugendcafés.
            Der vorgeschlagene Menüpreis variiert.
        </p>

    </section>
{{end}}