{{define "activities"}}
    <section id="activitieSection">
        <h2>Neue Aktivitäten</h2>
        <div id="activities">
            <div id="newComments">
                <h4>Kommentare</h4>
                {{ range .Comments }}
                    <a href="/event/{{.EventId}}" class="comment">
                        <span class="commentMedium">{{.Name}}</span>
                        <span class="commentSmall">{{.Created.Format "02.01.2006 - 15:04"}}</span>
                        <p class="commentText">{{.Content}}</p>
                    </a>
                {{end}}

            </div>
            <div id="newParticipants">
                <h4>Anmeldungen</h4>
                {{ range .Participants}}
                    <a href="/event/{{.EventId}}" class="participant">
                        <span class="commentMedium">{{.Name}}</span>
                        <span class="commentMedium">{{.MenuString}}</span>
                        <span class="commentSmall">{{.Created.Format "02.01.2006 - 15:04"}}</span>
                        {{ if .Message}}
                            <p class="participationMessage">{{.Message}}</p>
                        {{end}}
                    </a>
                {{end}}
            </div>
        </div>
    </section>
{{end}}