{{define "eventPreview"}}
    <section id="events">
        <h2>Veranstaltungen</h2>
        {{if .EventList}}
            <div id="eventList">
                {{range .EventList}}
                    <a class="event" href="/event/{{.ID}}"
                       style="background-image: url('/public/thumbs/{{.ImageName}}')">
                        <div class="description">

                            <h3>{{.Theme}}</h3>
                            <h4>{{.EventDate.Format "02.01.2006"}}</h4>
                        </div>
                    </a>
                {{end}}
            </div>
        {{else}}
            <p>Es sind keine Veranstaltungen vorhanden.</p>
        {{end}}
        <a id="showAll" href="/event/all">Alle Veranstaltungen ></a>
    </section>
{{end}}
