{{define "event-list"}}
<section id="events">
    <h2>Alle Veranstaltungen</h2>
    {{if .EventList}}
    <div id="eventList">
        {{range .EventList}}
        <a class="event" href="/event/{{.Id}}" style="background-image: url('{{.ImageUrl}}')">
            <div class="description">

                <h3>{{.Theme}}</h3>
                <h4>{{.EventDate.Format "02.01.2006"}}</h4>
            </div>
        </a>
        {{end}}
    </div>
    <div id="paging">
        {{if gt .PreviousPage 0}}
        <a id="newer" class="button" href="/event/all/{{.PreviousPage}}">Neuere</a>
        {{end}}
        {{if gt .NextPage 0}}
        <a id="older" class="button" href="/event/all/{{.NextPage}}">Ältere</a>
        {{end}}
    </div>
    {{else}}
    <p>Es sind keine Veranstaltungen vorhanden.</p>
    {{end}}
</section>
{{end}}
