{{define "findUs"}}
<section id="findUs">
    <div id="address">

        <h4>Anfahrt</h4>
        <address>
            Brunnenstr. 2<br>
            61184 Karben<br>
        </address>
        <div id="fbpage">
            <a href="https://www.google.com/maps/place/JUKUZ+Karben+Jugendkulturzentrum+Selzerbrunnenhof/@50.2382434,8.7530713,17z/data=!3m1!4b1!4m5!3m4!1s0x47bd045975035be5:0xb426c757ea8e8e98!8m2!3d50.23824!4d8.75526"> <img src="/public/google-maps.png">
                    Google Maps</a>
        </div>
    </div>
    <div id="fbpage">
        <h4>Küfa auf Facebook</h4>
        <a href="https://www.facebook.com/kuefakarben/"> <img src="/public/flogo_RGB_HEX-72.png">
            facebook.com/kuefakarben</a>
    </div>
    <div id="otherSites">
        <h4>Weitere Seiten</h4>
        <a href="https://www.jukuz-karben.de/" target="_blank">Jugendkulturzentrum Karben</a><br>
        <a href="https://www.karben.de/" target="_blank">Internetauftritt der Stadt Karben</a>
    </div>
</section>
{{end}}