{{define "findUs"}}
    <section id="findUs">
        <div id="address">
            <h4>Anfahrt</h4>
            <address>
                Jugendkulturzentrum Karben<br>
                Brunnenstr. 2<br>
                61184 Karben<br>
            </address>
            <a href="https://www.google.com/maps/place/JUKUZ+Karben+Jugendkulturzentrum+Selzerbrunnenhof/@50.2382434,8.7530713,17z/data=!3m1!4b1!4m5!3m4!1s0x47bd045975035be5:0xb426c757ea8e8e98!8m2!3d50.23824!4d8.75526"
               target="_blank" rel="noopener">
                <img src="/public/google-maps.png" alt="Google Maps Logo">
                Google Maps
            </a>
        </div>
        <div id="socialMedia">
            <h4>Social Media</h4>
            <a href="https://www.facebook.com/kuefakarben/  " target="_blank" rel="noopener"><img
                        src="/public/flogo_RGB_HEX-72.png" alt="Facebook Logo">Facebook</a><br>
            <a href="https://www.instagram.com/kuefa.karben/" target="_blank" rel="noopener"><img
                        src="/public/insta.svg.png" alt="Instagram Logo">Instagram</a>
        </div>
        <div id="otherSites">
            <h4>Weitere Seiten</h4>
            <a href="https://www.jukuz-karben.de/" target="_blank" rel="noopener">Jugendkulturzentrum Karben</a><br>
            <a href="https://www.karben.de/" target="_blank" rel="noopener">Internetauftritt der Stadt Karben</a>
        </div>
    </section>
{{end}}