{{define "findUs"}}
<section id="findUs">
    <div id="address">

        <h4>Kontakt</h4>
        <address>
            Brunnenstr. 2<br>
            61184 Karben<br>
            Tel.: 0815-11880<br> <!-- TODO ersetzen-->
        </address>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1275.9374730670638!2d8.754548354921186!3d50.238241113429794!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47bd045975035be5%3A0xb426c757ea8e8e98!2sJUKUZ+Karben+Jugendkulturzentrum+Selzerbrunnenhof!5e0!3m2!1sde!2sde!4v1530968004267"
                id="map" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div id="fbpage">
        <h4>Küfa auf Facebook</h4>
        <a href="https://www.facebook.com/kuefakarben/"> <img src="/public/flogo_RGB_HEX-72.png">
            facebook.com/kuefakarben</a>
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fkuefakarben&tabs&width=340&height=70&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=false"
                width="340" height="70" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                allowTransparency="true" allow="encrypted-media"></iframe>
    </div>
    <div id="otherSites">
        <h4>Weitere Seiten</h4>
        <a href="https://www.jukuz-karben.de/" target="_blank">Jugendkulturzentrum Karben</a><br>
        <a href="https://www.karben.de/" target="_blank">Internetauftritt der Stadt Karben</a>
    </div>
</section>
{{end}}