{{define "footer"}}
<footer>
    <!-- TODO Hier Link zu Startseite statt Impressum anzeigen wenn auf Impressum-->
    <a href="/impressum">Impressum</a>
    <h4>Kontakt</h4>
    <p>Karbevenue 4</p>
    <p>12345 Karben</p>
{{if not .Authenticated}}
    <form id="login" name="login" action="/login" method="post">
        <input name="user" type="text" placeholder="Benutzername" required>
        <input name="passwd" type="password" placeholder="Passwort" required>
        <input name="eventId" value="{{.Event.Id}}" hidden>
        <input type="submit" value="Login">
    </form>
{{else}}
    <form id="logout" name="logout" action="/logout" method="post">
        <input name="eventId" value="{{.Event.Id}}" hidden>
        <input type="submit" value="Logout">
    </form>
{{end}}
</footer>
{{end}}