{{define "header"}}
<header>
    <a href="/">
        <img src="../../public/header_wood.jpeg"/>
    </a>
    <h1>Küche für Alle - Kochen, Essen, Beisammensein</h1>
    {{template "navigation" .}}
</header>
{{end }}