{{define "head"}}
<header>
    <a href="/">
        <img src="../../public/logo.png"/>
    </a>
    <h1>Küche für Alle - Kochen, Essen, Beisammensein</h1>
    {{template "navigation" .}}
</header>
{{end }}