{{define "htmlHead"}}
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#ff9800">

    <link rel="icon" type="image/png" href="/public/favicon/favicon.png" sizes="64x64">
    <link rel="icon" type="image/svg+xml" href="/public/favicon/favicon.svg" sizes="any">
    <link rel="stylesheet" href="/public/style.css">
    <script type="text/javascript" src="/public/script.js"></script>

    <meta name="description"
          content='"Küche für Alle" ist genau das, wonach es klingt: Gutes Essen in netter Runde. Bei uns spielt das Essen eine zentrale Rolle und da ist es uns vor allem wichtig, dass es frisch, qualitativ gut und natürlich selbstgemacht ist.'>
    <meta name="keywords"
          content="Küche, für, alle, Karben, Kochen, Koch, Essen, Gericht, Gemeinschaft, Spaß, Vegan, Vegetarisch, Fleisch, Gemüse, Obst, Salat, Pudding, frisch, selbstgemacht, Vorspeise, Hauptgang, Nachspeise, Dinner">

{{end}}