{{define "imageList"}}
{{ if .ImageUrls }}
<section id="images">
    <h4>Bilder</h4>

    <div id="gallery">
        {{ range .ImageUrls }}
        <div class="imageBox">
            <img src="{{.URL}}"/>
            {{ if $.Authenticated }}
            <form action="/image/delete" method="post" onsubmit="return confirmDeletion('das Bild')">
                <input name="imageId" value="{{.Id}}" hidden>
                <input name="eventId" value="{{$.Event.Id}}" hidden>
                <input class="deleteButton" type="submit" value="✖ Löschen" alt="Löschen">
            </form>
            {{end}}
        </div>
        {{end}}
    </div>
</section>
{{end}}
{{end}}