{{define "imageList"}}
    {{ if or .ImageNames $.Authenticated}}
        <section id="images">
            <h4>Bilder</h4>

            <div id="gallery">
                {{ range .ImageNames }}
                    <div class="imageBox">
                        {{ if $.Authenticated }}
                            <form action="/image/delete" method="post" onsubmit="return confirmDeletion('das Bild')">
                                <input name="imageId" value="{{.Id}}" hidden>
                                <input name="eventId" value="{{$.Event.Id}}" hidden>
                                <input class="deleteButton" type="submit" value="✖ Löschen" alt="Löschen">
                            </form>
                        {{end}}
                        <a href="/public/images/{{.Name}}"><img src="/public/thumbs/{{.Name}}"/></a>
                    </div>
                {{end}}
            </div>
            {{ if $.Authenticated }}
                <h4>Bilder hinzufügen</h4>
                    <p class="info">Es können mehrere Bilder gleichzeitig ausgewählt werden.<br>Unterstützte Bildformate: .jpg, .png</p>
                <form id="imageUpload" name="imageUpload" action="/image/add" enctype="multipart/form-data"
                      method="post">
                    <input name="eventId" value="{{.Event.Id}}" hidden>
                    <input type="file" accept="image/*" name="images" multiple required>
                    <input type="submit" value="Hochladen">
                </form>
            {{end}}
        </section>
    {{end}}
{{end}}