{{define "imageList"}}
{{ if .ImageUrls }}
<section id="images">
{{ range .ImageUrls }}
    <div>
        <img src="{{.URL}}"/>
    {{ if $.Authenticated }}
        <form action="/image/delete" method="post">
            <input name="imageId" value="{{.Id}}" hidden>
            <input name="eventId" value="{{$.Event.Id}}" hidden>
            <input type="submit" value="X">
        </form>
    {{end}}
    </div>
{{end}}
</section>
{{end}}
{{end}}