{{define "navigation"}}
<nav>
    <a href="/">Startseite</a>
    <a href="/event/all">Veranstaltungen</a>
    {{if .Authenticated}}
    <a href="/event/create">Neue Veranstaltung</a>
    {{end}}
    <a href="/impressum">Impressum</a>
</nav>
{{end}}