{{define "participation"}}

    <section id="participation">
        {{ if .ParticipationAllowed}}
            <div id="registration">
                <h4>Anmeldung</h4>

                <form id="participate" name="participate" action="/participant/add" method="post">
                    <input name="name" type="text" placeholder="Name" required><br>
                    <textarea rows="2" name="message" id="participationMessage" type="text"
                              placeholder="Bemerkung/Nachricht (Optional)"
                              maxlength="1000"></textarea>
                    <label><input type="radio" name="menu" value="0" checked>Klassisch</label>
                    <label><input type="radio" name="menu" value="1">Vegetarisch</label>
                    <label><input type="radio" name="menu" value="2">Vegan</label>
                    <input name="eventId" value="{{.Event.Id}}" hidden>
                    <p class="info">Dein Name erscheint öffentlich auf dieser Seite. Benutze gegebenenfalls einen
                        Spitznamen, um anonym zu bleiben.</p>
                    <input type="submit" class="buttonRight" value="Teilnehmen">
                </form>
            </div>
        {{ end }}
        <div id="participantList">
            <h4>Teilnehmer</h4>
            {{if .Participants}}
                {{ range .Participants}}
                    <div>
                        {{if $.Authenticated}}
                            <form action="/participant/delete" method="post"
                                  onsubmit="return confirmDeletion('den Teilnehmer')">
                                <input name="participantId" value="{{.Id}}" hidden>
                                <input name="eventId" value="{{$.Event.Id}}" hidden>
                                <input class="deleteButton" type="submit" value="✖ Löschen" alt="Löschen">
                            </form>
                        {{end}}
                        <span>{{.Name}}</span>
                        <span class="commentMedium">{{.MenuString}}</span>

                        {{ if and $.Authenticated .Message}}
                            <p class="participationMessage">{{.Message}}</p>
                        {{end}}
                    </div>
                {{end}}

            {{else}}
                <p>Es hat sich noch niemand angemeldet.</p>
            {{end}}
        </div>
    </section>
{{end}}