<!DOCTYPE html>
<html lang="de">
<head>
    <title>Küfa Karben | Neue Veranstaltung</title>
    {{template "htmlHead" .}}
</head>
<body>
    {{template "header" .}}
    <section id="createEvent">
        <h4>Neue Veranstaltung</h4>
        <form id="createEventForm" name="createEvent" enctype="multipart/form-data" action="/event/add" method="post">
            <div id="flexcontainer">
                <input name="theme" type="text" placeholder="Motto" required>
                <input name="date" type="datetime-local" required>
                <input name="starter" type="text" placeholder="Vorspeiße" required>
                <input name="main-dish" type="text" placeholder="Hauptgericht" required>
                <input name="dessert" type="text" placeholder="Nachtisch" required>
                <input id="eventImageInput" name="image" type="file" accept="image/*" required>
                <textarea name="info" placeholder="Beschreibung" rows="3" required></textarea>
            </div>
            <input class="buttonRight" type="submit" value="Speichern">
        </form>
    </section>
    {{template "footer" .}}
</body>
</html>