{{ define "createEvent" }}
{{ if .Authenticated }}
<h4>Neue Veranstaltung</h4>
<form id="createEvent" name="createEvent" enctype="multipart/form-data" action="/create" method="post">
    <input name="theme" type="text" placeholder="Motto" required><br>
    <input name="date" type="date" required><br>
    <input name="starter" type="text" placeholder="Vorspeiße" required><br>
    <input name="main-dish" type="text" placeholder="Hauptgericht" required><br>
    <input name="dessert" type="text" placeholder="Nachtisch" required><br>
    <input name="info" type="text" placeholder="Infotext" required><br>
    <input name="image" type="file" accept="image/*" required><br>
    <input type="submit" value="Speichern">
</form>
{{ end }}
{{ end }}