<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Küche für Alle!</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
{{template "head" .}}

{{template "message" .}}
{{template "eventMenu" .}}
{{template "participation" .}}
{{template "createComment" .}}
{{template "imageList" .}}
{{template "commentList" .}}
{{template "eventPreview" .}}

{{template "footer" .}}
</body>
</html>