<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Küche für Alle!</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
{{template "head" .}}

<section id="main">
{{template "eventMenu" .}}
</section>
<section id="participation">
{{template "participation" .}}
</section>
{{template "createComment" .}}
{{template "imageList" .}}
<section id="eventList">
{{template "eventList" .}}
</section>
{{ if .Authenticated }}
<section id="createEvent">
{{template "createEvent" .}}
</section>
<section id="uploadImage">
{{template "uploadImage" .}}
</section>
{{ end }}

{{template "footer" .}}
</body>
</html>