<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Küche für Alle!</title>
    <link rel="stylesheet" href="/public/style.css">
    {{template "favicon" .}}
</head>
<body>
    {{template "head" .}}
    <section id="not-found">
        <h2>Hoppla, hier ist nichts</h2>
        <p>Da hat wohl jemand seinen Teller nicht aufgegessen. Auf dieser Seite gibt es nichts zu finden. </p>
        <p>Gehe schnell zurück zur <a href="/">Startseite</a>.</p>
    </section>

    {{template "footer" .}}
</body>
</html>