html {
    font-family: sans-serif;
    color: black;
    font-size: 20px;
}

header {
    position: relative;
    background: #404040;
    display: block;
    border-radius: 0 0 2px 2px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

header img {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

header h1 {
    margin: 0;
    position: relative;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px black;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 20px;
    font-size: 20px;
    font-weight: initial;
}

nav {
    flex-wrap: wrap;
    text-shadow: 1px 1px 1px black;
    text-align: center;
    padding: 6px;
    border-top: 2px solid white;
    display: flex;
}

nav a {
    text-decoration: none;
    white-space: nowrap;
    color: white;
    flex: 2;
    border-radius: 5px;
    margin: 5px 20px;
    padding: 8px;
    transition: background-color 0.15s;
}

nav a:last-child {
    flex: 1;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transition: background-color 0.30s;
}

nav a.active {
    border: 1px solid white;
}

p {
    margin: 0;
}

body {
    max-width: 1100px;
    margin: 0 auto;
}

/* Background */
body:before {
    content: "";
    position: fixed;
    left: -5%;
    right: -5%;
    top: -5%;
    z-index: -1;
    height: 110%;
    width: 110%;
    display: block;
    background-size: cover;
    background-image: url(background.jpg);
    filter: blur(13px);
}

section {
    overflow: auto;
    position: relative;
    margin-top: 20px;
    padding: 40px;
    background: white;
    border-radius: 2px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

section h2 {
    margin-top: 0;
    clear: both;
}

#main {
    text-align: center;
    background: white;
}

#main h3 {
    margin: 20px 0 10px;
}

#main img {
    max-height: 400px;
    box-shadow: inset 0 0 10px #000000;
}

section h4 {
    margin: 0 0 10px;
    left: 0;
    right: 0;
    position: relative;
}

#images div + div h4 {
    margin-top: 20px;
}

#eventList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.event {
    position: relative;
    margin: 20px 10px 20px 10px;
    background-size: cover;
    background-position: center;
    background-color: #ff9800;
    height: 230px;
    min-width: 300px;
    max-width: 500px;
    align-self: flex-start;
    flex-grow: 1;
    transition: transform 0.15s;
}

.event:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

.event img {
    width: 300px;
    max-height: 200px;
}

#events {
    overflow: auto;
}

.description {
    right: 0;
    bottom: 0;
    left: 0;
    color: white;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    background-image: linear-gradient(rgba(64, 64, 64, 0), rgba(64, 64, 64, 0.9));
    position: absolute;
    padding: 20px 10px 10px;
}

.description h3 {
    text-decoration: none;
    margin: 0 0 7px;
}

.description h4 {
    margin: 0;
}

#showAll {
    float: right;
    margin-right: 10px;
}

#participation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

#participation div {
    flex-grow: 1;
}

#participantList {
    margin-top: 20px;
}

#participantList div {
    padding: 10px;
    clear: both;
    display: flow-root;
}

#participantList div:nth-child(2n) {
    background-color: #eee;
}

#showAll, button, .button, input[type="submit"] {
    background: #ff9800;
    border: none;
    padding: 10px;
    text-decoration: none;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: initial;
    transition: background 0.15s;
}

#showAll:hover, button:hover, input[type="submit"]:hover {
    background: #c66900;
    transition: background 0.3s;
}

.stars {
    font-size: x-large;
    margin: 25px;
    display: block;
}

#flexcontainer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.buttonRight {
    float: right;
}

#older {
    float: right;
    display: inline-block;
}

#newer {
    float: left;
    display: inline-block;
}

#comments + #createComment {
    margin-top: 0;
    padding-top: 0;
    position: relative;
    top: -2px;
    border-radius: 0 0 2px 2px;
}

#createEvent input {
    min-width: 290px;
    flex-grow: 1;
    min-height: 21px;
    margin-left: 20px;
    margin-right: 20px;
}

input, textarea {
    padding: 7px;
    margin: 3px;
    border: 2px solid lightgray;
    outline: none;
    transition: border 0.3s ease;
}

textarea {
    width: calc(100% - 22px);
    resize: vertical;
}

input:focus, textarea:focus {
    border-color: #404040;
}


.info {
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
    font-size: medium;
    margin: 10px 0;
}

#createComment div {
    text-align: right;
    margin-top: 10px;
}

.comment {
    position: relative;
    padding: 10px;
}

.comment:nth-child(2n) {
    background-color: #eee;
}

.commentSmall {
    display: inline-block;
    color: gray;
    font-size: small;
}

.commentMedium {
    font-size: large;
    display: inline-block;
    color: gray;
}

input.deleteButton {
    float: right;
    clear: both;
    background-color: #f44336;
}

input.deleteButton:hover {
    background-color: #ba000d;
}

input.editButton {
    float: right;
    background-color: #3f51b5;
}

input.editButton:hover {
    background-color: #002984;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imageBox {
    position: relative;
    margin: 10px 10px 10px 10px;
    height: 150px;
    width: 230px;
}

.imageBox img {
    width: 100%;
    object-fit: contain;
    height: 100%;
    transition: transform 0.15s;
}

.imageBox:hover img {
    transform: scale(1.05);
    transition: transform 0.3s;
}

.imageBox input.deleteButton {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
}

#createEvent img {
    margin-right: 20px;
    max-height: 200px;
    max-width: 500px;
}

footer {
    border-radius: 2px 2px 0 0;
    background: #404040;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin-top: 20px;
}

footer * {
    margin: 0;
}

.loginsubmit {
    float: none;
    margin: initial;
}

.message-error {
    background: red;
}

.message-hint {
    background: green;
}

/* Find-Us Begin */
#findUs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

section#findUs > div {
    padding: 20px;
    flex: 1;
}

address {
    font-style: normal;
}

#map {
    width: 100%;
    margin-top: 20px;
}

#findUs a {
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    color: black;
    border-radius: 2px;
    line-height: 14px;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
}

#findUs a img {
    width: 34px;
    margin: -10px 5px -10px -10px;
}

/*Find-Us End */
