html {
    font-family: sans-serif;
    color: black;
    font-size: 20px;
}

header {
    position: relative;
    background: white;
    display: block;
    #border-radius: 0 0 10px 10px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

header img {
    position: relative;
    clear: both;
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

header h1 {
    margin: 0;
    position: relative;
    text-align: center;
    color: white;
    background-color: black;
    text-shadow: 2px 2px 5px grey;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 20px;
    font-size: 20px;
    font-weight: initial;
}

nav {
    text-align: center;
    padding: 20px;
    background: black;
    border-top: 2px solid white;
}

nav a {
    text-decoration: none;
    white-space: nowrap;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    letter-spacing: initial;
    transition: letter-spacing 0.25s;
}

nav a:hover {
    letter-spacing: 2px;
    transition: letter-spacing 0.35s;
}

p {
    margin: 0;
}

body {
    max-width: 1100px;
    margin: 0 auto;
}

/* Background */
body:before {
    content: "";
    position: fixed;
    left: -5%;
    right: -5%;
    top: -5%;
    z-index: -1;
    height: 110%;
    width: 110%;
    display: block;
    background-size: cover;
    background-image: url(background.jpg);
    filter: blur(13px);
}

section {
    margin-top: 20px;
    padding: 40px;
    background: white;
    border-radius: 2px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

section h2 {
    margin-top: 0;
}

#main {
    text-align: center;
    background: white;
}

#main h3 {
    margin: 20px 0 10px;
}

#main img {
    max-height: 400px;
    box-shadow: inset 0 0 10px #000000;
}

section > h4 {
    margin: 0 0 10px;
    left: 0;
    right: 0;
    position: relative;
}

#eventList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.event {
    position: relative;
    margin: 20px 10px 20px 10px;
    background-size: cover;
    background-position: center;
    background-color: orange;
    height: 200px;
    min-width: 300px;
    max-width: 500px;
    align-self: flex-start;
    flex-grow: 1;
    transition: transform 0.15s;
}

.event:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

.description {
    right: 0;
/ / box-shadow: 0 - 10 px 20 px rgba(0, 0, 0, 0.19), 0 - 6 px 6 px rgba(0, 0, 0, 0.23);
    bottom: 0;
    left: 0;
    color: white;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    padding: 10px;

}

.description h3 {
    text-decoration: none;
    margin: 0 0 7px;
}

.description h4 {
    margin: 0;
}

#showAll{
    float:right;
}

.stars {
    font-size: x-large;
    margin: 25px;
    display: block;
}

#createEventForm {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;

    column-width: 10px;
}

#createEvent input[type=text] {
    width: calc(100% - 20px);
}

input {
    padding: 3px;
    margin: 3px;
}

input[name=info] {

}

#comments p {
    white-space: pre-line;
}

#images img {
    width: 400px;
}

.event img {
    width: 300px;
    max-height: 200px;
}

.edit-event {
    max-height: 100px;
}

footer {
    border-radius: 10px 10px 0 0;
    background: grey;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin-top: 20px;
}

footer * {
    margin: 0;
}
